@font-face {
    font-family: 'Avenir';
    src: url('AvenirLTStd-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirLTStd-Black.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirLTStd-Book.otf');
    font-weight: normal;
    font-style: italic;
}

/* Width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    font-family: 'Avenir';
}


.container {
    /* height: calc(var(--vh, 1vh) * 100); */
    max-width: 900px;
    background: rgb(169,169,169,0.4);
    margin: 0 auto;
    padding: 30px 50px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    min-height: calc(100vh - 75px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 33px;
    color: #000000;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.singer {
    width: 539px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 90px;
    color: #000000;
}

.common {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    height: 48px;
}

#video-section {
    display: flex;
    width: 100%;
    gap: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#song-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 400px;
    padding: 4px 8px;
}

.page-link {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    
}

.top-link {
    font-size: 16px;
    line-height: 33px;
}

a { text-decoration: none; }

.selected {
    background-color: #f0f0f0; /* Replace with desired color */
    padding: 10px;
}

.song {
    background: #D9D9D9;
    mix-blend-mode: multiply;
    cursor: pointer;
    border-radius: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    color: #000000;
    padding: 10px;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    gap: 10px;
    margin: 0 auto;
}

.playlist-heading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.line {
    width: 44px;
    height: 0px;
    border: 0.25px solid #000000;
}

.playlist-title {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 25px;
    color: #000000;
}

#video-container {
    padding-top: 40px;
}

.song-playing {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.press {
    flex-basis: 1;
}


/**/

@media screen and (max-width: 600px) { 
    .container {
        padding: 15px 25px;
        gap: 20px;
        /* justify-content: space-around; */
    }

    .common {
        flex-direction: column;
        padding-bottom: 0px;
        gap: 20px;
    }

    .links {
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        width: 100%;
        gap: 20px;
    }

    .page-link {
        font-size: 14px;
        line-height: 14px;
    }

    #video-section {
        flex-direction: column;
    }

    .singer {
        width: 100%;
        font-size: 36px;
        line-height: 50px;
        text-align: start;
    }

    #video-container, .playlist {
        width: 100%;
    }

    /* #song-list {
        height: 300px;
    } */

    .playlist-heading {
        justify-content: center;
    }

    .nav {
        gap: 14px;
    }

    .header {
        height: 30px;
    }
    
    /* For webkit browsers like Chrome and Safari */
    .links::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    .links {
        scrollbar-width: none;
        -ms-overflow-style: none;  /* IE and Edge */
    }

    #video-container {
        padding-top: 0px;
    }

    h2#page-title {
        margin: 0;
    }
    
        #song-list {
          display: flex;
          flex-direction: row;
          overflow-x: auto;
            gap: 10px;
            width: 100%;
            padding: 4px 8px;
            height: 100%;
        }
      
        .box {
          width: 160px;
        }
      

}
